.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-height: 30%;
  padding: 1em;
  margin: 1em;
  background-color: gray;
  border-radius: 20px;
  -webkit-box-shadow: -10px 0px 13px -7px #fff, 10px 0px 13px -7px #fff,
    5px 5px 8px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #fff, 10px 0px 13px -7px #fff,
    5px 5px 8px 5px rgba(0, 0, 0, 0);
}

.poster {
  max-width: 50%;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 1em;
}

.tags h4 {
  align-self: flex-start;
  height: 1em;
  margin: 0;
}

.tags p {
  margin: 0;
  height: 1em;
}
