.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 1em;
  margin: 1em;
  background-color: gray;
}

.thumbnail img {
  width: 85vw;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags h4 {
  align-self: flex-start;
}

.tags p {
  margin: 0 1em;
}

@media screen and (max-width: 750px) {
  .thumbnail img {
    max-width: 100%;
  }
}
